MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=agenda-fenix
MYSQL_USER=admin
MYSQL_PASSWORD=admin

ENCRYPT_KEY = "yourkey"

VITE_API_URL=http://localhost:7771/api
VITE_IMAGES_URL=http://localhost:7771/storage/imagenes

VITE_TIMEOUT_REDIRECT=4000
VITE_TIMEOUT_TOAST=3000

VITE_ERROR_AXIOS=Ocurrió un error en la consulta al servidor